*, *::before, *::after {
	box-sizing: border-box;
	font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

pbHeader,
.pbBody{
	margin: 0 34px;
}

.labelCol.vfLabelColTextWrap  {
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: 300;
    color: #888;
    vertical-align: middle;
    display: inline-block;
}

.dataCol,
.data2Col {
	display: table-row;
} 

.dataCol:first-of-type {
	display:none;
}

.labelCol.vfLabelColTextWrap > label {
	display: block;
	line-height: 1rem;
	position: relative;
	top: -.75rem;
	margin-right: 12px;
}

.dataCol > input,
.dataCol > select,
.dataCol > span > select,
.dataCol > textarea,
.data2Col > input,
.data2Col > select,
.data2Col > span > select,
.data2Col > textarea {
	margin: .5rem 0 2rem 0;
	font-family: Roboto;
	font-size: 1rem;
	width: 236px;
	height: 30px;
}

input[type="submit"] {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #5c6f7c;
    color: #fefefe;
	font-weight: 700;
    font-size: .875rem;
    text-transform: uppercase;	
	font-size: 0.875rem;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    padding: .6rem 1rem;
}


@media (min-width: 640px) {
	
	.labelCol.vfLabelColTextWrap {
		text-transform: uppercase;
		font-size: .875rem;
		font-weight: 300;
		color: #888;
		vertical-align: middle;
		display: table-cell;
		text-align: left;
	}

	.dataCol,
	.data2Col {
		display: table-cell;
	} 
	
	.dataCol > input,
	.dataCol > select,
	.dataCol > span > select,
	.dataCol > textarea,
	.data2Col > input,
	.data2Col > select,
	.data2Col > span > select,
	.data2Col > textarea {
		width: 600px;
	}
}
