.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}
.THIS .changeRecordTypeRow {
    margin-top: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.THIS .changeRecordTypeLeftColumn {
    float: left;
    text-align: right;
    padding-right: 1.5rem;
    width: 35%;
    font-size: .8125rem;
    color: rgb(84, 105, 141);
}

.THIS .changeRecordTypeRightColumn {
    float: right;
    text-align: left;
    width: 65%;
}

.THIS .modal-body
{
    height:auto !important;
    padding:0;
}
.THIS .forceChatterLightningComponent .bodyWrapper{height:100%;width:100%;padding:0;box-sizing:border-box}